<div class="inscription-container">
    <div class="inscription-card">
        <div class="header-actions">
            <button class="btn-back" (click)="goBack()">
                <div class="arrow-container">
                    <span class="material-icons">arrow_back</span>
                </div>
                Volver
            </button>
            <h2 class="inscription-title">{{ title }}</h2>
        </div>

        @if (alertService.alert$ | async; as alert) {
        <app-alert-message [message]="alert.message" [type]="alert.type" (close)="alertService.clear()">
        </app-alert-message>
        }

        <ng-content></ng-content>
    </div>
</div>