<div class="inscription-container">
    <div class="inscription-card">
        <div class="header-actions">
            <button class="btn-back" (click)="goBack()">
                <span class="material-icons">arrow_back</span>
                Volver
            </button>
            <h2 class="inscription-title">Inscripción a Cursado</h2>
        </div>
        <div class="table-wrapper">
            @for (carrera of carreras; track carrera.idCarrera) {
            <div class="career-section">
                <h3 class="career-title">{{ carrera.nombreCarrera }} <span class="career-plan">({{ carrera.nombrePlan
                        }})</span></h3>
                <app-table [data]="carrera.materias" [columns]="simpleColumns" [actions]="actions" [pageSize]="50"
                    (onAction)="handleAction($event)">
                </app-table>
            </div>
            } @empty {
            <div class="no-data">No se encontraron carreras/materias para inscripción.</div>
            }
        </div>
    </div>
</div>