@import 'globals.css';
@import '@fontsource/questrial';
@import '@fontsource/montserrat';
@import 'material-icons/iconfont/material-icons.css';


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Questrial', sans-serif;
    color: var(--text-primary);
    background-color: var(--bg-page);
}

/* Snackbar Styles */
.error-snackbar {
    --mdc-snackbar-container-color: var(--error);
    --mdc-snackbar-supporting-text-color: white;
    --mat-mdc-snack-bar-button-color: white;
}

.success-snackbar {
    --mdc-snackbar-container-color: #10b981;
    /* Emerald 500 */
    --mdc-snackbar-supporting-text-color: white;
    --mat-mdc-snack-bar-button-color: white;
}

.info-snackbar {
    --mdc-snackbar-container-color: var(--utn-blue);
    --mdc-snackbar-supporting-text-color: white;
    --mat-mdc-snack-bar-button-color: white;
}