@import 'globals.css';
@import '@fontsource/questrial';
@import 'material-icons/iconfont/material-icons.css';


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Questrial', sans-serif;
    color: var(--text-primary);
    background-color: var(--bg-page);
}