<header class="navbar-container">
    <div class="logo-area">
        <img [src]="logoPath" alt="UTN Logo" class="logo-img">
        <span class="brand-name">Sysacad Next</span>
    </div>
    <div class="user-menu">
        <button class="profile-btn" (click)="toggleDropdown()">
            <span class="material-icons">account_circle</span>
        </button>

        <div class="dropdown-menu" [class.show]="isDropdownOpen">
            <button class="dropdown-item" disabled>Ver Perfil (Próximamente)</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item logout" (click)="logout()">
                <span class="material-icons icon-sm">logout</span> Cerrar Sesión
            </button>
        </div>
    </div>
</header>